.navigation{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    }

.link{
    margin-left: 20px;

}

.croissant-image{
display: block;
margin: 0 auto;

}

    h1{
        text-align: center;
    }
    
    p{
        text-align: center;
    }